@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}


@theme {
  --color-custom-yellow-100: #fbd621;
  --color-custom-yellow-200: #ae9416;
}


body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding-right: 1%;
    padding-left: 1%;
}

button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;
    
}

.formulario {
    margin-left: 20%;
    margin-right: 20%;
    padding: 1% 3%;
}